---
cabineturl: "/cabinet"
homeurl: "/"
diversityurl: "/diversity"
constitutionurl: "/constitution"
reimbursementformurl: "/assets/mgsa_reimbursement_form.pdf"
initiativeformurl: "/assets/mgsa_initiative_form.pdf"
---

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Math Graduate Students' Association</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
  </head>

  <body style="font-family: 'Computer Modern Sans', sans serif !important;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
          <!-- <span class="fs-6 lh-sm text-uppercase">Mathematics<p class="" style="margin: 4px;"></p>Graduate Students'<p class="" style="margin: 4px;"></p>Association</span> -->
        
          <svg
            width="220"
            height="66"
            viewBox="0 0 124.35417 37.365784"
            version="1.1"
            id="svg914"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/">
            <defs
              id="defs908" />
            <metadata
              id="metadata911">
              <rdf:RDF>
                <cc:Work
                  rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g
              id="layer1"
              transform="translate(328.65852,44.474528)">
              <path
                style="fill:none;stroke:#0000f6;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m -295.16497,-30.677917 c -5.1638,2.139289 -13.72095,5.606412 -15.7127,3.245818 -1.99176,-2.360595 -0.22131,-8.778463 0.59014,-10.180066 0.81146,-1.401603 3.31959,-7.081784 8.99977,-6.712941 5.68018,0.368843 4.97829,2.860611 6.04902,5.311338"
                id="path879" />
              <path
                style="fill:none;stroke:#00fe00;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m -308.60335,-37.503542 c 9.49353,-0.208649 18.30767,-0.52994 18.72625,2.190815 0.10433,0.678109 0.0522,2.138653 -1.40838,2.816763"
                id="path883" />
              <path
                style="fill:none;stroke:#fd0000;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m -294.36305,-35.677863 c 1.77352,6.989744 3.39055,16.170304 1.82568,18.048145 -1.56487,1.877841 -11.99732,3.02541 -13.71868,3.181898"
                id="path885" />
              <path
                style="fill:none;stroke:#00ff00;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                d="m -323.17679,-20.948812 c 5.17769,-2.105428 13.75737,-5.51644 15.73362,-3.142853 1.97625,2.373587 0.16382,8.779724 -0.6568,10.175983 -0.82061,1.396259 -3.36589,7.0598927 -9.04353,6.6538607 -5.67765,-0.406033 -4.95946,-2.8931497 -6.01412,-5.3508357"
                id="path887" />
              <path
                id="path889"
                d="m -309.7834,-14.035332 c -9.49469,0.146476 -18.31075,0.410038 -18.7115,-2.3134 -0.0999,-0.678776 -0.0382,-2.138947 1.4268,-2.807477"
                style="fill:none;stroke:#0000fd;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path
                id="path891"
                d="m -324.01143,-15.954225 c -1.72771,-7.001208 -3.28459,-16.19216 -1.70746,-18.059714 1.57714,-1.867553 12.01688,-2.946781 13.73922,-3.091993"
                style="fill:none;stroke:#f20000;stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <text
                xml:space="preserve"
                style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="-284.42862"
                y="-32.089828"
                id="text287"><tspan
                  id="tspan285"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:'TeX Gyre Bonum';-inkscape-font-specification:'TeX Gyre Bonum, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                  x="-284.42862"
                  y="-32.089828">Mathematics</tspan></text>
              <text
                xml:space="preserve"
                style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="-284.64062"
                y="-22.568148"
                id="text341"><tspan
                  id="tspan339"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:'TeX Gyre Bonum';-inkscape-font-specification:'TeX Gyre Bonum, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                  x="-284.64062"
                  y="-22.568148">Graduate Students'</tspan></text>
              <text
                xml:space="preserve"
                style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                x="-283.80444"
                y="-13.027552"
                id="text345"><tspan
                  id="tspan343"
                  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:'TeX Gyre Bonum';-inkscape-font-specification:'TeX Gyre Bonum, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.264583"
                  x="-283.80444"
                  y="-13.027552">Association</tspan></text>
            </g>
          </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="{{ '/' | relative_url }}">Home</a>
            <a class="nav-link" href="{{ '/about/' | relative_url }}">What We Do</a>
            <a class="nav-link" href="{{ '/cabinet/' | relative_url }}">Cabinet</a>
            <a class="nav-link" href="{{ '/constitution/' | relative_url }}">Constitution</a>
            <a class="nav-link" href="{{ '/diversity/' | relative_url }}">Diversity</a>
            <a class="nav-link" href="{{ '/seminar/' | relative_url }}">Seminar</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-9 pt-3 mt-3">
          <h4>{{ page.title }}</h4>
          <hr>
          {{ content }}
        </div>
        <div class="col-lg-3 bg-body-secondary mt-3 pt-3 mr-3 rounded">                                                                     
          <h3>Contact Us</h3>                                                                         
          <div id="about-me">
            <p>mgsa [at] studentorg.utoronto.ca</p>
          </div>
          
          <hr>

          <h3>Quick Links</h3>

          <ul>
            <li><a href="https://forms.office.com/r/w87AgqbH8M">MGSA Reimbursement Form</a></li>
            <li><a href="http://www.math.toronto.edu/">Math Department</a></li>
            <li><a href="https://www.mathematics.utoronto.ca/people/directories/graduate-students">Graduate Students Directory</a></li>
            <li><a href="http://www.utoronto.ca/">University of Toronto</a></li>
	    <li><a href="https://outlook.office365.com/owa/calendar/b871c0357e434235ad95454c69cbe029@studentorg.utoronto.ca/2b6d383db23440ffa5e6843d8cbc59d99574878118971985662/calendar.html">MGSA Calendar</a></li>
          </ul>
        
          <h3>Other Useful Links</h3>

          <ul>
            <li><a href="http://www.utgsu.ca/">Graduate Students' Union</a></li>
            <li><a href="http://www.fields.utoronto.ca/">The Fields Institute</a></li>
            <li><a href="http://www.cupe3902.org/">CUPE 3902</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="bg-body-tertiary mt-3 pt-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>© 2024 Dominic Shillingford</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
